_backup
_backup-mongodb
_backup-volume
_images
_sources
backup
design
frontend
frontend-sveltekit/sass
frontend-sveltekit/images
mains.min.css
favicon_*.png
node_modules
.env
uploads
adminAccount
config.json
docker-copy-backup.bash
frontend-sveltekit/build
test.bash