<div>
    <p>
        <span><strong>Email du contact :</strong></span>
        {{email}}
    </p>
    <p><strong>Message envoyé</strong></p>
    {{#each body}}
        <p>{{this}}</p>
    {{/each}}

</div>